{% extends '_base.html' %}
{% block content %}
    <div id="main_view" class="mx-auto w-10/12 p-8 grid grid-cols-3 gap-3 "></div>
    <div id="view_detail"></div>
    <form action="" id="forms" class="grid grid-row3 flex align-center justify-center !hidden">
        <input
                type="text"
                placeholder="name"
                name="name"
                class="input input-bordered input-primary w-full max-w-xs"/>

        <textarea class="textarea" name="bio" placeholder="bio"></textarea>
        <input class="input input-bordered input-primary w-full max-w-xs" name="email" placeholder="email"></input>
        <button type="submit" class="btn btn-wide">Create</button>
    </form>


    <div id="update" class="!hidden"></div>
    <div id="form_post_singel" class=""></div>

{#    <form action="" id="forms_post" class="grid grid-row3 flex align-center justify-center !hidden ">#}
{#        <input#}
{#                type="text"#}
{#                placeholder="title"#}
{#                name="title"#}
{#                class="input input-bordered input-primary w-full max-w-xs"/>#}
{##}
{#        <textarea class="textarea" name="description" placeholder="description"></textarea>#}
{#        <select name="author" id="authorSelect" onload="">#}
{#            <option value="">select autor</option>#}
{#        </select>#}
{#        <button type="submit" class="btn btn-wide">Create</button>#}
{#    </form>#}

{% endblock %}

{% block script %}

    <script>

        let mainView = document.querySelector("#main_view");
        let formEL = document.querySelector('#forms');
        let formPostEL = document.querySelector('#forms_post');
        let updateEL = document.querySelector('#update');
        let viewDetailEL = document.querySelector('#view_detail');
        let selectEl=document.querySelector("#authorSelect")
        let diveFormPostEl=document.querySelector("#form_post_singel")
        document.addEventListener("DOMContentLoaded", (event) => {
            event.preventDefault()
            loaded()
        });
        {% include 'js_directory_author/view_home_author_all.js' %}
        {% include 'js_directory_author/updateAuthor.js' %}
        {% include 'js_directory_author/deleteAuthor.js' %}
        {% include 'js_directory_author/cratedAuthor.js' %}
        {% include 'js_directory_author/viewAuthor.js' %}
        {% include 'js_directory_post/view_home_post_all_author.js' %}
        {% include 'js_directory_post/cratedPostAuthor.js' %}
        {% include 'js_directory_post/deletePost.js' %}
        {% include 'js_directory_post/viewPost.js' %}




        //
        //function update_form(value) {
        //
        //
        //    fetch(`update/${value.value}`, {
        //        method: "GET",
        //        headers: {
        //            'X-Requested-With': 'XMLHttpRequest',
        //            'X-CSRFToken': '{{ csrf_token }}'
        //        }
        //    })
        //        .then(async request => {
        //            const r = await request.json()
        //            console.log(r[0].title)
        //            const el = `    <form action="" id="forms_update" class="grid grid-row3 flex align-center justify-center ">
        //                          <input
        //                                 type="text"
        //                                  placeholder=""
        //                                  name="title"
        //                                  value="${r[0].title}""
        //                                  class="input input-bordered input-primary w-full max-w-xs"/>
        //
        //                          <textarea class="textarea" name="description" placeholder="Description">${r[0].description}</textarea>
        //
        //                          <button onclick="f(this)" value="${r[0].id}" class="btn btn-success">update</button>
        //                      </form>`
        //
        //            updateEL.innerHTML = el
        //            formEL.classList.toggle("!hidden");
        //            updateEL.classList.toggle("!hidden");
        //
        //        }).finally(() => {
        //
        //    })
        //}
        //
        //function f(value) {
        //    let formUpdateEL = document.querySelector('#forms_update');
        //    formUpdateEL.addEventListener('submit', (event) => {
        //        event.preventDefault()
        //        if (confirm("Are you sure about this?")) {
        //            let form = event.target;
        //            console.log(form.title)
        //            console.log(form.description)
        //            let data = new FormData(form);
        //            console.log()
        //            fetch(`update/${value.value}`, {
        //                method: "POST",
        //                body: data,
        //                headers: {
        //                    'X-Requested-With': 'XMLHttpRequest',
        //                    'X-CSRFToken': '{{ csrf_token }}'
        //                },
        //            }).then(async result => {
        //                await result
        //            }).finally(() => {
        //                updateEL.classList.toggle("!hidden");
        //
        //                loaded();
        //
        //            })
        //        } else {
        //            updateEL.classList.toggle("!hidden");
        //            formEL.classList.toggle('!hidden');
        //        }
        //    })
        //
        //}
        //

        //function del(value) {

        //    if (confirm("Are you sure about this?")) {
        //        fetch(`delete/${value.value}`, {
        //            method: "POST",
        //            headers: {
        //                'X-Requested-With': 'XMLHttpRequest',
        //                'X-CSRFToken': '{{ csrf_token }}'
        //            }
        //        }).then(async re => {
        //            await re.text()
        //        }).catch(() => {

        //        }).finally(() => {
        //            formEL.classList.toggle("!hidden")
        //            loaded()
        //        })
        //    }

        //}

        {#document.addEventListener("DOMContentLoaded", (event) => {#}
        {#    event.preventDefault()#}
        {#    loaded()#}
        //

        //formEL.addEventListener('submit', function (event) {
        //    event.preventDefault();
        //    let form = event.target;
        //    let data = new FormData(form)
        //    console.log(form.title)
        //    console.log(form.description)
        //    if ((!(form.title.value === "")) && (!(form.description.value === ""))) {
        //
        {#//        fetch('{% url 'recipe_create' %}', {#}
        //            method: "POST",
        //            body: data,
        //            headers: {
        //                'X-Requested-With': 'XMLHttpRequest',
        //                'X-CSRFToken': '{{ csrf_token }}'
        //            },
        //        }).then(async result => {
        //            await result
        //        }).finally(() => {
        //            formEL.classList.toggle("!hidden")
        //            loaded();
        //
        //        })
        //    }
        //});
        //
        //
        //function update_form(value) {
        //
        //
        //    fetch(`update/${value.value}`, {
        //        method: "GET",
        //        headers: {
        //            'X-Requested-With': 'XMLHttpRequest',
        //            'X-CSRFToken': '{{ csrf_token }}'
        //        }
        //    })
        //        .then(async request => {
        //            const r = await request.json()
        //            console.log(r[0].title)
        //            const el = `    <form action="" id="forms_update" class="grid grid-row3 flex align-center justify-center ">
        //                          <input
        //                                type="text"
        //                                  placeholder=""
        //                                  name="title"
        //                                  value="${r[0].title}""
        //                                  class="input input-bordered input-primary w-full max-w-xs"/>
        //
        //                          <textarea class="textarea" name="description" placeholder="Description">${r[0].description}</textarea>
        //
        //                          <button onclick="f(this)" value="${r[0].id}" class="btn btn-success">update</button>
        //                      </form>`
        //
        //            updateEL.innerHTML = el
        //            formEL.classList.toggle("!hidden");
        //            updateEL.classList.toggle("!hidden");
        //
        //        }).finally(() => {
        //
        //    })
        //}
        //
        //function f(value) {
        //    let formUpdateEL = document.querySelector('#forms_update');
        //    formUpdateEL.addEventListener('submit', (event) => {
        //        event.preventDefault()
        //        if (confirm("Are you sure about this?")) {
        //            let form = event.target;
        //            console.log(form.title)
        //            console.log(form.description)
        //            let data = new FormData(form);
        //            console.log()
        //            fetch(`update/${value.value}`, {
        //                method: "POST",
        //                body: data,
        //                headers: {
        //                    'X-Requested-With': 'XMLHttpRequest',
        //                    'X-CSRFToken': '{{ csrf_token }}'
        //                },
        //            }).then(async result => {
        //                await result
        //            }).finally(() => {
        //                updateEL.classList.toggle("!hidden");
        //
        //                loaded();
        //
        //            })
        //        } else {
        //            updateEL.classList.toggle("!hidden");
        //            formEL.classList.toggle('!hidden');
        //        }
        //    })
        //
        //}
        //
        //function view(value) {
        //    formEL.classList.toggle('!hidden');
        //    fetch(`view/${value.value}`, {
        //        method: "Post",
        //        headers: {
        //            'X-Requested-With': 'XMLHttpRequest',
        //            'X-CSRFToken': '{{ csrf_token }}'
        //        }
        //    }).then(async response => {
        //        const data = await response.json();
        //        mainView.innerHTML = ""
        //        console.log(data)
        //        viewDetailEL.innerHTML = `
        //            <div class="pr-10 pl-10">
        //                <h1 class="text-5xl m-auto justify-center text-center">${data.title}</h1>
        //
        //                <p class="mt-4">${data.description}</p>
        //            <div/>
        //            <div class="flex justify-center aline-center mt-40">
        //                 <button onclick="loaded()" class="btn btn-active btn-secondary">back</button>
        //            <div/>
        //        `
        //
        //    })
        //} }

        {#document.querySelector("#delete").addEventListener('clike',(event)=>{event.preventDefault();#}
        {#    let f=event.target;#}
        {#    console.log(f)#}
        {#  #}
        //

    </script>
{% endblock %}